:root{
	--primary:  #2760FF;
	--secondary:  #fff;
}

body.section_1 .listen:after{
  display: block; 
}
body.section_2 .image:after{
  display: block; 
}
body.section_3 .about:after{
  display: block; 
}
body.section_4 .survey:after{
  display: block; 
}


#listen{
	text-align: center;
}

#image{
	display: flex;
	flex-wrap: wrap;
}

#survey{
	text-align: center;
}

#print_download{
  margin-top:  0.5rem;
  display: flex;
  flex-direction: column;
}

#print_download img{
  height: 5rem;
  margin-bottom:  1rem;
}